USE [master]
GO
/****** Object:  Database [WebDemo]    Script Date: 7.11.2016. 6:42:05 ******/
CREATE DATABASE [WebDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WebDemo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WebDemo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDemo]
GO
/****** Object:  Schema [SEC]    Script Date: 7.11.2016. 6:42:05 ******/
CREATE SCHEMA [SEC]
GO
/****** Object:  Table [SEC].[Permission]    Script Date: 7.11.2016. 6:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEC].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SEC].[Role]    Script Date: 7.11.2016. 6:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEC].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Created] [datetime] NOT NULL CONSTRAINT [DF_Roles_Created]  DEFAULT (sysutcdatetime()),
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SEC].[RolePermission]    Script Date: 7.11.2016. 6:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEC].[RolePermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[PermissionId] [int] NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_RolePermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SEC].[User]    Script Date: 7.11.2016. 6:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEC].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [SEC].[UserRole]    Script Date: 7.11.2016. 6:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEC].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [SEC].[Role] ON 

GO
INSERT [SEC].[Role] ([Id], [Name], [Created]) VALUES (1, N'Administrator', CAST(N'2016-11-05 17:24:16.157' AS DateTime))
GO
INSERT [SEC].[Role] ([Id], [Name], [Created]) VALUES (2, N'PowerUser', CAST(N'2016-11-05 17:24:26.057' AS DateTime))
GO
INSERT [SEC].[Role] ([Id], [Name], [Created]) VALUES (3, N'User', CAST(N'2016-11-05 17:24:28.267' AS DateTime))
GO
SET IDENTITY_INSERT [SEC].[Role] OFF
GO
ALTER TABLE [SEC].[User] ADD  CONSTRAINT [DF_User_Created]  DEFAULT (sysutcdatetime()) FOR [Created]
GO
ALTER TABLE [SEC].[UserRole] ADD  CONSTRAINT [DF_UserRoles_Created]  DEFAULT (sysutcdatetime()) FOR [Created]
GO
ALTER TABLE [SEC].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Permission] FOREIGN KEY([PermissionId])
REFERENCES [SEC].[Permission] ([Id])
GO
ALTER TABLE [SEC].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Permission]
GO
ALTER TABLE [SEC].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Role] FOREIGN KEY([RoleId])
REFERENCES [SEC].[Role] ([Id])
GO
ALTER TABLE [SEC].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Role]
GO
ALTER TABLE [SEC].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [SEC].[Role] ([Id])
GO
ALTER TABLE [SEC].[UserRole] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [SEC].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserId])
REFERENCES [SEC].[User] ([Id])
GO
ALTER TABLE [SEC].[UserRole] CHECK CONSTRAINT [FK_UserRoles_User]
GO
USE [master]
GO
