*.suo
SimpleMessagesWeb/SimpleMessagesWeb.DB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
SimpleMessagesWeb/SimpleMessagesWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
SimpleMessagesWeb/.vs/config/applicationhost.config
/SimpleMessagesWeb/SimpleMessagesWeb.DB/bin/Debug
/SimpleMessagesWeb/SimpleMessagesWeb.Tests/bin/Debug
/SimpleMessagesWeb/SimpleMessagesWeb.Tests/obj/Debug
/SimpleMessagesWeb/SimpleMessagesWeb.Tests/SimpleMessagesWeb.Tests.csproj.user
/SimpleMessages/SimpleMessages/bin/Debug
/SimpleMessages/SimpleMessages/obj/Debug
/SimpleMessagesWeb/SimpleMessagesWeb/bin
/SimpleMessagesWeb/SimpleMessagesWeb/obj/Debug
/SimpleMessagesWeb/SimpleMessagesWeb.DB/obj/Debug
/SimpleMessagesWeb/SimpleMessagesWeb/App_Data
/SimpleMessagesWeb/packages/Microsoft.Owin.2.1.0
/SimpleMessagesWeb/packages/Microsoft.Owin.Host.SystemWeb.3.0.1
/SimpleMessagesWeb/packages/Microsoft.Owin.Security.3.0.1
/SimpleMessagesWeb/packages/Microsoft.Owin.Security.Cookies.2.1.0
/SimpleMessagesWeb/packages/Microsoft.Owin.Security.OAuth.3.0.1
/SimpleMessagesWeb/packages/Microsoft.Owin.Security.OAuth.2.1.0
/SimpleMessagesWeb/packages/Microsoft.Owin.Security.Cookies.3.0.1
/SimpleMessagesWeb/packages/Microsoft.Owin.Security.2.1.0
/SimpleMessagesWeb/packages/Microsoft.Owin.3.0.1
/SimpleMessagesWeb/packages/Newtonsoft.Json.4.5.11
/SimpleMessagesWeb/packages/Newtonsoft.Json.8.0.3
/SimpleMessagesWeb/packages/Newtonsoft.Json.9.0.1
/SimpleMessagesWeb/packages/Owin.1.0
/SimpleMessagesWeb/SimpleMessages.Db/bin/Debug
/SimpleMessagesWeb/SimpleMessages.Db/obj/Debug
/SimpleMessagesWeb/SimpleMessages.Identity/bin/Debug
/SimpleMessagesWeb/SimpleMessages.Identity/obj/Debug
/SimpleMessagesWeb/SimpleMessages.Svc/bin/Debug
/SimpleMessagesWeb/SimpleMessages.Svc/obj/Debug
