<?xml version="1.0"?>
<connectionStrings>
  <add name="WebDemoConn" connectionString="data source=KANTURNA;initial catalog=WebDemo;integrated security=True;" />
  <add name="WebDemoEntConn" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KANTURNA;initial catalog=WebDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
