<?xml version="1.0"?>
<connectionStrings>
  <add name="SimpleMessagesConn" connectionString="data source=.;initial catalog=MessagesDb;integrated security=True;" />
  <add name="SimpleMessagesEntityConn" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MessagesDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
